# Data types in Python

Python is a dynamically typed language, meaning we don't have to declare the type of variable. We can assign a value to a variable in Python direcctly. Unlike other programming languages like C, C++, Java, etc.., the strict declaration of variables before assigning values to them is not present in Python.

### Input Keyword

To get user data we can use keyword input

In [1]:
Myvalue = input('Please enter the value you wish to enter : ')

Please enter the value you wish to enter : 10

In [7]:
print(Myvalue)

10

In [4]:
type(Myvalue)

str

In [6]:
MyIntvalue = int(input('Please enter the value you wish to enter : '))

Please enter the value you wish to enter : 10

In [8]:
print(MyIntvalue)

10

In [9]:
type(MyIntvalue)

int

# Variables

### Definining

A variable in Python is defined through assignment. There is no concept of declaring a variable outside of that assignment.

In [2]:
variable = 10

In [3]:
variable

10

# Numeric Types â€” int, float, complex

### Integer :

In Python 3, there is effectively no limit to how long an integer value can be.
Integer literals are created by any number without a decimal or complex component.

In [2]:
a = 10
type(a)

int

--> type() is a method that returns the type of given object

--> in the above example number 10 is assigned to a variable 'a' . Python being the dynamically typed language understands the     type of 'a' as integer

### Float :

Float values are represented with decimal point.

In [10]:
b = 10.56
type(b)

float

### Complex :

Complex numbers have a real and imaginary part. Complex number are specified as x+yj , where x is the real component and y is the imaginary component.

In [4]:
c = 5 + 7j
type(c)

complex

To extract real and imaginatory we can use c.real and c.imag . The type of both real and imaginary parts are floating point numbers

In [5]:
c.real

5.0

In [6]:
c.imag

7.0

In [7]:
type(c.imag)

float

### Boolean:

Boolean data type is either True or False. When we compare two values the expression is evaluated and returns boolean value as True or False

In [1]:
print(10 > 9)

True

In [2]:
print(3 < 1)

False

In [4]:
print('a' in 'anaconda')

True

In [5]:
print('b' in 'anaconda')

False

In [6]:
True and True

True

In [7]:
True or False

True

In [8]:
True and False

False

In [10]:
not True

False

In [11]:
b = True 
type(b)

bool

# Strings

Strings are series of characters in Python.Strings can be created using single quotes('') or double quotes(" "). If the string exceeds single line, then triple quotes can also be used(""" """)

In [18]:
print('Hello world')

Hello world

In [19]:
print("Hello world")

Hello world

In [17]:
print(""" Hello 
world""")

 Hello
world

In [24]:
#If we want to use single quote inside the string then we can use it inside double quotes or triple quotes

print("Suraj father's name is Arjun")

Suraj father's name is Arjun

In [26]:
# len() is a built in method that returns the total number of characters in the string

len('I am a good boy')

15

In [1]:
# String Assignmnet 

string1 = 'Hello world'

In [29]:
print(string1)

Hello world

### String Indexing

Strings are sequence of characters, so we can use index to call the sequence parts. In Python, indexing starts at 0. We use brackets [] after an object to call its index.

In [30]:
string1[0]

'H'

In [31]:
string1[1]

'e'

In [33]:
string1[7]

'o'

### String Slicing

We can use a : to perform slicing in Python

string[starting position : ending position : step size]

starting position -- starting index value of element 

ending position  -- Upto but not including(Ex: Ending position as 3, implies the index upto index 3 not including index 3 )

step size -- can be +ve and -ve also. -ve to fetch elements in reverse order.

In [34]:
#starts from index 1 and grab all the elements till end 
string1[1:]

'ello world'

In [41]:
#Grab last element in string. -ve indexes to go backwards
string1[-1]

'd'

In [36]:
#grab first 7 elements 
string1[:7]

'Hello w'

In [37]:
#Grab elements starting index 2 till 8th
string1[2:8]

'llo wo'

In [42]:
#Fetch all elements.. step size as 1
string1[::1]

'Hello world'

In [38]:
#Fetch alternative elements.. we can use step size as 2
string1[::2]

'Hlowrd'

In [39]:
#reverse the string
string1[::-1]

'dlrow olleH'

## String properties

### Immutability:

Strings are immutable, meaning once created we cannot alter the string.

In [44]:
string1

'Hello world'

In [2]:
string1[5] = 'j'

TypeError: 'str' object does not support item assignment

# Concatination:

We can use + operator to concatinate strings in Python

In [46]:
"Old string" + "New string"

'Old stringNew string'

In [52]:
string2 = string1 + ' New string to concatinate'

In [53]:
string2

'Hello world New string to concatinate'

In [50]:
# to repeat the string we can use * operator
'b' * 10

'bbbbbbbbbb'

### Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [12]:
print('My age is ' + 26)

TypeError: can only concatenate str (not "int") to str

In [13]:
print('My age is ' + str(26))

My age is 26

Before concatinating, we have to type cast the integer to string. We can make use of built-in methods to change the integer to string and proceed with concatination.

### Built-in methods:

Built-in methods makes our lives easier. These are the functions that we use in day to day basics. We can call built-in methods using dot(.) at the end of the object

In [55]:
#change to upper case
string1.upper()

'HELLO WORLD'

In [56]:
#change to lower case
string1.lower()

'hello world'

In [60]:
# change starting letters of string into upper case
string1.title()

'Hello World'

In [62]:
#split a string.. default by blank space
string1.split()

['Hello', 'world']

In [64]:
#split a string..based on a character
string1.split('o')

['Hell', ' w', 'rld']

In [67]:
#partition methos returns the first half , the end half and also includes the separator (the first occurrence).
string1.partition('o')

('Hell', 'o', ' world')

### .is methods:

.is methods returns True or False for the string

Following are the .is methods:

isalnum - Return True if all characters in the string are alpha numeric, False otherwise
isalpha - Return True if all characters in the string are Aplhabatic, False otherwise 
isascii - Return True if all characters in the string are ASCII, False otherwise 
isdecimal - Return True if the string is a decimal string, False otherwise.
isdigit - Return True if the string is a digit string, False otherwise.
isidentifier - Return True if the string is a valid Python identifier, False otherwise.
islower - Return True if the string is a lowercase string, False otherwise.
isnumeric - Return True if the string is a numeric string, False otherwise.
isprintable - Return True if the string is printable, False otherwise.
isspace - Return True if the string is a whitespace string, False otherwise.
istitle - Return True if the string is a title-cased string, False otherwise.
isupper - Return True if the string is an uppercase string, False otherwise.

In [72]:
# check whether the string is upper case or not
string1.isupper()

False

In [70]:
# check whether the string is lower case or not
string1.islower()

False

In [71]:
string1.istitle()

False

In [73]:
string1.isspace()

False

### Location and Counting

In [75]:
string1

'Hello world'

In [77]:
# find method returns the index of first occurance of the searched character
string1.find('o')

4

In [79]:
# count method returns the total number of occurances of searched character 
string1.count('l')

3

### Formatting 

center() method allows you to place your string 'centered' between a provided string with a certain length.

In [81]:
string1.center(20,'*')

'****Hello world*****'

###  Print Formatting 


### Formatting using modulo(%) operator

Here are some basic argument specifiers you should know:

%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.(number of digits)f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)

In [1]:
# This prints out "Suraj is 26 years old."
name = "Suraj"
age = 26
print("%s is %d years old." % (name, age))

Suraj is 26 years old.

### Formatting using .format method

In [2]:
print("{} is {} years old." .format(name,age))

Suraj is 26 years old.

In [3]:
#using position of object 
print("{0} is {1} years old." .format(name,age))

Suraj is 26 years old.

In [5]:
#using position of object 
print("Age is {1} and name is {0}." .format(name,age))

Age is 26 and name is Suraj.

### Formatting using f-string (formatted string)

In [7]:
# Placing "f" at the beginning and curly braces containing expression
print(f"{name} is {age} years old.")

Suraj is 26 years old.

In [9]:
print(f"Age is {age} and name is {name}.")

Age is 26 and name is Suraj.